@charset "UTF-8";

@media (max-width: 375px) {
    .cartao {
        width: 80%;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
    }
}